<div class="background">
  <h1>Animal Foundary</h1>

  <div class="form-container">
    <div class="card-form">
      <form #id="ngForm">
        <div class="form-group-inline">
          <label>Hemisphere</label>
          <input type="text" [(ngModel)]="a.hemisphere" name="hemisphere" id="hemisphere">
        </div>
        <div class="form-group-inline">
          <label>Animal</label>
          <input type="text" [(ngModel)]="a.animal" name="animal" id="animal">
        </div>
        <div class="form-group-inline">
          <label>Seasonality</label>
          <input type="text" [(ngModel)]="a.seasonality" name="seasonality" id="seasonality">
        </div>
          <div class="form-group-inline">
            <label>Location</label>
            <input type="text" [(ngModel)]="a.location" name="location" id="location">
          </div>
          <div class="form-group-inline">
            <label>Price</label>
            <input type="text" [(ngModel)]="a.price" name="price" id="price">
          </div>
          <div class="form-group">
            <button (click)="populateData()">Add</button>
          </div>  
      </form>
    </div>
  <div class="search-card">
      <label>Filter by Animal:</label>
      <input type="text" placeholder="Search here">
      <div>
        <button>Filter</button>
      </div>
  </div>
  </div>
  <table>
      <tr>
          <th>Hemisphere</th>
          <th>Animal</th>
          <th>Seasonality</th>
          <th>Location</th>
          <th>Price</th>
      </tr>
      <tr *ngFor="let a of animals"> 
        <td>{{a.hemisphere}}</td>
        <td>{{a.animal}}</td>
        <td>{{a.seasonality}}</td>
        <td>{{a.location}}</td>
        <td>{{a.price}}</td>
        
      </tr>
  </table>

</div>
